.card-key {
  border: none;
  border-radius: 10px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: visible;
  transition: transform 0.3s;
}

.card-keys:hover {
  transform: translateY(-3px);
}
