/*
  Author: Fahmi Hidayatulloh
  Github: https://github.com/fahmihdytllah
  Instagram: https://www.instagram.com/fahmihdytllah
*/

:root {
  --color-background: #cad5e2;
  --color-primary: #f7cd2e;
  --font-family-base: Poppin, sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1rem;
}
* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jagopay {
  margin: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.14);
  display: grid;
  font-family: Poppin, sans-serif;
  font-family: var(--font-family-base);
  line-height: 1.5;
  min-height: 100vh;
  padding: 5vmin;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  place-items: center;
}
address {
  font-style: normal;
}
button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.25rem;
  font-size: var(--font-size-h1);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.5em;
}
h2 {
  font-size: 1rem;
  font-size: var(--font-size-h2);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
}
h3 {
  color: #758283;
  font-size: 10px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  text-align: center;
  color: #758283;
  font-size: 10px;
}
legend {
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0;
}
input {
  font: inherit;
}
input[type='number'] {
  width: 100%;
  padding: 10px;
  border: 2px solid #f7cd2e;
  border-radius: 10px;
  box-sizing: border-box;
}
input[type='number']:focus {
  border: 3px solid #555;
}
input[type='radio'] {
  border: 0;
  color: inherit;
  accent-color: #fc8080;
  accent-color: var(--color-primary);
}
table {
  border-collapse: collapse;
  width: 100%;
}
tbody {
  color: #b4b4b4;
}
td {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
tfoot {
  border-top: 1px solid #b4b4b4;
  font-weight: 600;
}
.align {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  place-items: center;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a.button:hover {
  text-decoration: none;
}
a.button:active {
  text-decoration: none;
}
.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fc8080;
  background-color: var(--color-primary);
  border-radius: 999em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5em;
  gap: 0.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.button:focus,
.button:hover {
  background-color: #807044;
}
.button--full {
  width: 100%;
}
button:disabled {
  pointer-events: none; /* Mencegah interaksi dengan tombol */
  opacity: 0.5; /* Mengurangi opacity untuk efek disabled */
  cursor: not-allowed; /* Ubah kursor menjadi 'not-allowed' */
}
.card {
  border-radius: 1em;
  background-color: #fc8080;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1em;
}

/* Header & Footer*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Form Element */
.form {
  display: grid;
  grid-gap: 2em;
  gap: 2em;
}
.form__radios {
  display: grid;
  grid-gap: 1em;
  gap: 1em;
}
.form__radio {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}
.form__radio label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-gap: 1em;
  gap: 1em;
}
.icon {
  height: 1em;
  display: inline-block;
  fill: currentColor;
  width: 2em;
  vertical-align: middle;
}
.icon2 {
  height: 1em;
  display: inline-block;
  fill: currentColor;
  width: 1em;
  vertical-align: middle;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: fixed; /* Posisi absolut di dalam elemen .screen */
  top: -20px; /* Jarak dari atas layar */
  right: -15px; /* Jarak dari kanan layar */
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.screen {
  position: relative;
  background-color: #fbf6f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbf6f7), to(#fff));
  background-image: -o-linear-gradient(top, #fbf6f7, #fff);
  background-image: linear-gradient(to bottom, #fbf6f7, #fff);
  border-radius: 15px;
  height: 600px;
  width: 250px;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  overflow: auto;
  padding: 2em;
}

.screen {
  overflow: -moz-scrollbars-none; /* Untuk Firefox lama */
  -ms-overflow-style: none; /* Untuk IE dan Edge */
  scrollbar-width: none; /* Untuk Firefox */
}

.screen::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

@media screen and (min-width: 320px) {
  .screen {
    height: 580px;
    width: 300px;
  }
}

@media screen and (min-width: 420px) {
  .screen {
    height: 680px;
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .screen {
    height: 680px;
    width: 530px;
  }
}

@media screen and (min-width: 1024px) {
  .screen {
    height: 500px;
    width: 800px;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 10;
  }
  #elink {
    width: 50%;
  }

  .sticky-detail {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .screen {
    height: 650px;
    width: 1000px;
  }
}

/** Rincian */
.price-text,
.service-fee-text,
.tax-fee-text,
.total-cost-text {
  text-align: right;
}

/**
 Loader
*/

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading:before {
  opacity: 0.6;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--color-primary);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
